*.o
moc_*
testapp.pro.user
browser/browser.qmlproject.user
browser/Makefile calculator/Makefile multitouch/Makefile testapp/Makefile
browser/Makefile calculator/Makefile multitouch/Makefile testapp/Makefile
Makefile
