Source: matti-tests
Section: libs
Priority: optional
Maintainer: Tatu Lahtela <ext-tatu.lahtela@nokia.com>
Build-Depends: debhelper (>> 5.0.0), libqt4-dev, libqtwebkit-dev (>=2.1~)
Standards-Version: 3.8.0

Package: matti-testapp
Architecture: any
Depends: libqt4-core, libqtwebkit4 (>=2.1~)
Description: Testability-Driver Testing framework test applications
  Tests application for testing the Testability-Driver framework

Package: matti-tests
Architecture: all
Depends: testability-driver, libcucumber-ruby1.8 ( >= 0.4.4), librmagick-ruby1.8, matti-testapp, ci-testing
Description: Testability-Driver Testing framework testing packages
  Tests for the Testability-Driver testing framework itself.

Package: matti-unit-tests
Architecture: all
Depends: testability-driver, librmagick-ruby1.8, matti-testapp, ci-testing
Description: Testability-Driver Testing framework unit tests
  Unit tests for the Testability-Driver testing framework itself.


